@model Villain

        @*public int Id { get; set; }
        public string Name { get; set; }
        public string BadActs { get; set; }
        public bool HasMinions { get; set; }
        public GenderType Gender { get; set; }*@

<form method="POST">
    <h1>@(Model.Id == 0 ? "New" : "Update") Villain</h1>

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="BadActs" class="control-label"></label>
        <input asp-for="BadActs" class="form-control" />
        <span asp-validation-for="BadActs"></span>
    </div>

    <div class="form-group">
        <label asp-for="Gender" class="control-label"></label>
        @foreach(var g in Enum.GetNames(typeof(GenderType)))
        {
            <div>
                <input type="radio" asp-for="Gender" value="@g" />
                <label for="@g">@g</label>
            </div>
        }    
        <span asp-validation-for="Gender"></span>
    </div>

    <div class="form-group">
        <label asp-for="HasMinions" class="control-label"></label>
        <input asp-for="HasMinions" class="form-control" type="checkbox" />
        <span asp-validation-for="HasMinions"></span>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
</form>
